@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

.footer{
  max-height: 277px;
  height: 277px;
  background: #110523;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerCont{
  padding: 3.5em 14em 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.copyright{
  border-top: 1px solid #DCDCDC;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerModalHeader{
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 29.0379px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #F8F8F8;
  justify-content: space-between;
  padding-right: 29px;
  margin-bottom: 25px;
}

.footerModalBody{
  height: 680px;
  padding-right: 70px;
  color: white;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16.9388px;
  line-height: 27px;
  overflow: scroll;

}

.mobileFooterCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}