@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');

.headerCont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
  margin-top: 150px;
}

.headerText{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}

.prizeFund {
  position: relative;
  width: 328px;
  height: 143.27px;
  font-weight: 700;
  background: linear-gradient(0deg, #111032 1.69%, rgba(9, 9, 18, 0) 102.54%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prizeFund::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 3.1px solid transparent;
  background: linear-gradient(139.7deg, #9F03FF 4.56%, #5BD2AF 24.13%, #FFF3D6 61.76%, #FFD057 74.81%, #D99C00 77.32%, #9F03FF 99.39%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.headerModalHeader{
  padding: 5px 5px 0 0;
  color: #FFFFFF;
}

.headerModalBody{
  display: inline-flex;
  color: white;
  align-items: center;
}

.mobHeaderCont{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobHeaderText{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile{
  width: 194px;
  height: 85px;
  margin-right: 0px !important;
}


.openSeaButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(92.85deg, #FFE457 14.25%, #5900EB 52.84%, #FFAC33 86.18%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}



/*.mintTicket { transition: all .2s ease-in-out; }*/
/*.mintTicket:hover { transform: scale(1.1); }*/

.MuiSnackbarContent-message{
  padding: 0 !important;
}
.MuiSnackbarContent-root{
  padding: 0 !important;
  border-radius: 16px !important;
}
.MuiSnackbarContent-root > .MuiSnackbarContent-message{
  padding: 0 !important;
}
.popupMobile > .MuiSnackbarContent-root{
  padding: 0 !important;
  border-radius: 16px;
}
.popupMobile > .MuiSnackbarContent-root > .MuiSnackbarContent-message{
  padding: 0 !important;
}
.popup > .css-1gz1y6s{
  padding: 0;
  border-radius: 16px;
}
.popup > .css-1gz1y6s > .css-1w0ym84{
  padding: 0 !important;
}
.popupMobile > .css-1gz1y6s{
  padding: 0;
  border-radius: 16px;
}
.popupMobile > .css-1gz1y6s > .css-1w0ym84{
  padding: 0 !important;
}

.animate{
  transform: rotateY(180deg);
  animation: rotate 1.5s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animateWin {
  animation: rotateWin 3s linear infinite;
}

@keyframes rotateWin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animateWinn{
  animation: rotateWins 3s linear infinite;
}

@keyframes rotateWins {
  0% { clip-path: inset(0% 100% 0 0); }
  25% { clip-path: inset(0 0 100% 0); }
  50% { clip-path: inset(0 0 0 100%); }
  75% { clip-path: inset(100% 0 0 0); }
  100% { clip-path: inset(0 100% 0 0); }
}


/*@property --angle {*/
/*  syntax: '<angle>';*/
/*  initial-value: 0deg;*/
/*  inherits: false;*/
/*}*/

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.mintTicket{
  position: relative;
  height: 485px;
  border-radius: 24px;
  box-sizing: border-box;
  background-size: 100%;
  z-index: 2;
  /*background: linear-gradient(var(--angle), #FFD057 0%, #9F03FF 15.1%, #00DFBA 53.65%, #9F03FF 89.06%, #FFAC33 100%) 1;*/
  /*animation: 10s linear infinite animate;*/
  /*border: 1rem solid;*/
  /*border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;*/
  /*border: 4px solid;*/
  /*animation: 5s rotate linear infinite;*/
  /*box-shadow: 0px 5.07891px 63.4864px #5900EB;*/
  /*-webkit-mask:*/
  /*  linear-gradient(#fff 0 0) padding-box,*/
  /*  linear-gradient(#fff 0 0);*/
}

/*@keyframes animate {*/
/*  0% {*/
/*    background-position: 0;*/
/*  }*/
/*  100% {*/
/*    background-position: 400%;*/
/*  }*/
/*}*/

@keyframes animate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.mintTicket:after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  z-index: 0;
  background: linear-gradient(var(--angle), rgba(255,172,51,1) 0%, rgba(159,3,255,1) 25%, rgba(0,223,186,1) 50%, rgba(159,3,255,1) 75%, rgba(255,172,51,1) 100%);
  background-size: 100%;
  border-radius: 24px;
  /*transition: .1s;*/
  filter: blur(0px);
  opacity: 1;
  animation: 7s linear infinite animate;
}

.mintTicket:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  z-index: 0;
  background: linear-gradient(var(--angle), rgba(255,172,51,1) 0%, rgba(159,3,255,1) 20%, rgba(0,223,186,1) 50%, rgba(159,3,255,1) 80%, rgba(255,172,51,1) 100%);
  background-size: 100%;
  border-radius: 24px;
  /*transition: .1s;*/
  filter: blur(20px);
  opacity: 1;
  animation: 7s linear infinite animate;
}

/*@keyframes rotate {*/
/*  from{*/
/*    --angle: 0deg;*/
/*  }*/
/*  to {*/
/*    --angle: 360deg;*/
/*  }*/
/*}*/
