@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');

.headerCont{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.headerText{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.prizeFund {
  position: relative;
  width: 328px;
  height: 143.27px;
  font-weight: 700;
  background: linear-gradient(0deg, #111032 1.69%, rgba(9, 9, 18, 0) 102.54%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prizeFund::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 3.1px solid transparent;
  background: linear-gradient(139.7deg, #9F03FF 4.56%, #5BD2AF 24.13%, #FFF3D6 61.76%, #FFD057 74.81%, #D99C00 77.32%, #9F03FF 99.39%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.headerModalHeader{
  padding: 5px 5px 0 0;
  color: #FFFFFF;
}

.headerModalBody{
  display: inline-flex;
  color: white;
  align-items: center;
}

.mobHeaderCont{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobHeaderText{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile{
  width: 194px;
  height: 85px;
  margin-right: 0px !important;
}

/*.mintTicket { transition: all .2s ease-in-out; }*/
/*.mintTicket:hover { transform: scale(1.1); }*/
.mintButton:hover{
  color: #F8F8F8 !important;
}

.popup > .css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root{
  padding: 0;
  border-radius: 16px;
}
.popup > .css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root > .css-1exqwzz-MuiSnackbarContent-message{
  padding: 0 !important;
}
.popupMobile > .css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root{
  padding: 0;
  border-radius: 16px;
}
.popupMobile > .css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root > .css-1exqwzz-MuiSnackbarContent-message{
  padding: 0 !important;
}