@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');

.ticketCountCont {
  position: relative;
  width: 830px;
  height: 536px;
  font-weight: 700;
}

.ticketCountCont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 5px solid transparent;
  background: linear-gradient(143deg, #FFAC33 22%, #FFFDF8 43.86%, #FFD057 64.73%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.winningList{
  font-family: Epilogue !important;
  font-weight: 700 !important;
  font-style: normal;
  font-size: 20px !important;
  line-height: 28px !important;
  color: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 37px;
}

.row{
  font-family: Epilogue !important;
  font-weight: 700 !important;
  font-style: normal;
  font-size: 20px !important;
  line-height: 28px !important;
  color: #F8F8F8;
}
.mobileRow{
  color: #F8F8F8;
  font-size: 16.2px !important;
  line-height: 22px !important;
}
.lastRow{
  font-weight: 400 !important;
}

.progressBar {
  width: 253px;
  height: 25px !important;
  background: rgba(255, 255, 255, 0.1) !important;
  border-radius: 8px;
  color: #FFFFFF;
}
.mobileProgress {
  width: 151px;
  height: 20px !important;
}
.MuiLinearProgress-bar{
  background: linear-gradient(180deg, #D29230 0%, #81642C 56.25%, #DEA40E 100%), linear-gradient(159.44deg, #FFAC33 13.64%, #FFD057 63.64%);;
}
.mobileProgress:before{
  font-size: 12px !important;
  line-height: 18px !important;
  width:70%;
  align-items:center;
  justify-content:center;
}
.progressBar::before{
  position:absolute;
  height:25px;
  background:transparent;
  /*content:'2 750 / 10 000';*/
  top:0;
  left:0;
  width:70%;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding-right:10px;
  z-index: 999;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #F8F8F8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.progressBarCont{
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFD057FF' stroke-width='4' stroke-dasharray='5%2c 11' stroke-dashoffset='15' stroke-linecap='square'/%3e%3c/svg%3e") no-repeat top;
  background-size: 94% .5%;
  color: #FFFFFF;
}